<form method="post" action="{{ path('app_guest_delete', {'id': guest.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить запись?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guest.id) }}">
    <button class="btn">Удалить</button>
</form>
