<form method="post" action="{{ path('app_party_delete', {'id': party.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить запись?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ party.id) }}">
    <button class="btn">Удалить</button>
</form>
