<form method="post" action="{{ path('app_personal_check_delete', {'id': personal_check.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить запись?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personal_check.id) }}">
    <button class="btn">Удалить</button>
</form>
