{% extends 'base.html.twig' %}

{% block title %}Новый персональный чек{% endblock %}

{% block body %}
    <h1>Новый персональный чек</h1>

    {{ include('personal_check/_form.html.twig') }}

    <a href="{{ path('app_personal_check_index') }}">Назад</a>
{% endblock %}
